@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root {
    --card-margin:30px;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: rgb(247, 246, 243);
    padding: 0;
    margin: 0;
    
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*! =======================HEADER ============================================= */
#App_header {
 text-align: center;
 font-size: 30px;
 padding: 30px 0;
 color: #000;
}


/* ! ==========================SEARCH FORM ===================================== */
.app_search_form {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.app_search_form input {
    width: 400px;
    padding: 10px 6px;
    box-shadow: 0 0 5px #cacaca;
    margin-right: 5px;
}

.app_search_form input, #submit_search_btn, #show_more_results {
    font-size: 16px;
    color: #000;
    border-radius: 5px;
    border: 0;
}


#submit_search_btn, #show_more_results {
    padding: 5px 15px;
    background-color: #3b8af1;
}
#submit_search_btn {
    padding: 11px 17px;
}

#submit_search_btn:hover, #show_more_results:hover {
    background-color: #1a5cb3;
}

/* !==================================THE SEARCH RESULTS ================================================ */

#all_search_res_container {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.search_container {
    border: 1px solid #cecece;
    border-radius: 8px;
    margin: 20px;
    height: auto;
    transition: 0.25s ease-in-out;
    box-shadow: 100px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.search_container:hover {
    opacity: .8;
    scale: 1.01;
}

.image {
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.image img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.search_container p {
    font-size: 17px;
    font-weight: 600;
    padding: 10px 6px 5px 6px;
    text-transform: capitalize;
    text-align: center;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 20px;
    
}

div.img_text {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    max-width: 250px;
}

/* !=========================SHOW MORE RESULTS BUTTON ======================================= */
#show_more_results {
    margin: 0px 100px;
    display: none; 
}
#show_more_results:hover {
   font-weight: 600;
 
}

/* !======================================MEDIA QUERY ======================================================================================== */


/* @media screen and (max-width: 813) {

/* !==================================THE SEARCH RESULTS ================================================ 
#all_search_res_container {
    padding: 20px;
    display: flex;
    mar
    

}

.search_container {
    margin: 10px;
}

.image {
    width: 230px;
    height: 200px;
    object-fit: cover;
    object-position: center;
} 
/* !=========================SHOW MORE RESULTS BUTTON ======================================= 
#show_more_results {
    padding: 10px 0px;
}
    
} */



@media screen and (max-width: 700px) {

    /* !==================================THE SEARCH RESULTS ================================================ */
    #all_search_res_container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

    .image {
    width: 270px;
    height: 230px;
    object-fit: cover;
    object-position: center;
}
}

@media screen and (max-width: 650px) {

    /* !==================================THE SEARCH RESULTS ================================================ */
   

    .image {
    width: 250px;
    height: 230px;
    object-fit: cover;
    object-position: center;
}
}

@media screen and (max-width: 605px) {
    .search_container{
        width: 200px;
        height: 200px;
        margin: 30px;
        justify-content: space-between;

    }
    .image {
        width: 100%;
        height: auto;
        
    }
}


/*
@media screen and (max-width: 500px) {
    /*! =======================HEADER ============================================= 
    #App_header {
    font-size: 24px;
}

/* ! ==========================SEARCH FORM =====================================
    .app_search_form input {
    width: 300px;
}

/* !==================================THE SEARCH RESULTS ================================================ 
.image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.search_container p {
    width: 200px;
}
    
}
@media screen and (max-width: 300px) {
    #App_header {
    font-size: 20px;
    padding: 20px;
}

.app_search_form input {
    width: 200px;
}

#submit_search_btn {
    padding: 11px 15px;
}

.image {
    width: 90vw;
    height: 200px;
    
}

.search_container {
    margin: 10px;
}

.search_container p {
    width: 100%;
}

} */
